<p id="notice"><%= notice %></p>

<h3>Classroom Information</h3>


<div class = "classroom_show">
<p>
  <b>Name:</b>
  <%= @classroom.name %>
</p>

<p>
  <b>Maxpeople:</b>
  <%= @classroom.maxpeople %>
</p>

<p>
<b>Courses held in Classroom: </b>
  <% @classroom.courses.each do | course |%>
  <%= course.name%>
  <%end%>
</p>
</div>

<%= link_to 'Edit', edit_classroom_path(@classroom) %> |
<%= link_to 'Destroy', classroom_path, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', classrooms_path %>


