<h2>WELCOME TO THE GENERAL ASSEMBLY SCHEDULER</h2>

  <div class = "intro">
    <p>Here at GA we look at running a smooth and efficient teaching experience, hence why we have hired the best developer to produce this smart website. Login below to view class schedule:</p>
  </div>


  <div class="sign_up">
      <%=image_tag("ga_big_red_logo.png")%>
    
    <%= form_tag sessions_path do %>
      <div class="field">
        <%= label_tag :email %>
        <%= text_field_tag :email, params[:email] %>
      </div><br>
      <div class="field">
        <%= label_tag :password %>
        <%= password_field_tag :password %>
      </div><br>
      <div class="actions"><%= submit_tag "Log in" %></div>
    <% end %>
  </div>
