<h2>Listing users</h2>

<table>
  <tr>
    <th>Name</th>
    <th>Role</th>
    <th>Course</th>
    <th>Email</th>
  
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= link_to user.name, user.name %></td>
    <td><%= user.role %></td>
    <td><%= user.course_id %></td>
    <td><%= user.email %></td>
   

    
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
