<h2>The GA current students and alumni</h2>


<%= search_form_for @q, url: search_users_path, method: :post do |f| %>
    <%= f.condition_fields do |c| %>
        <div>
            <%= c.attribute_fields do |a| %>
            <%= a.attribute_select associations: [:user] %>
            <% end %>
            <%= c.predicate_select %>
                <%= c.value_fields do |v| %>
                    <%= v.text_field :value %>
                <% end %>
        </div>
        <% end %>
    <%= f.submit %>
<% end %>
<div class = "users">
<table>
  <tr>
    <td>Name</td>
    <td>Role</td>
    <td>Course History</td>
    <td>Email</td>
  
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= link_to user.name, user %></td>
    <td><%= user.role %></td>
    <td><% user.courses.each do |course|%>
        <%= course.name %>
        <% end %></td>
    <td><%= user.email %></td>
   

    
  </tr>
<% end %>
</table>
</div>
<br />

<%= link_to 'New User', new_user_path %>
