<%= form_for(@course) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :maxsize %><br />
    <%= f.number_field :maxsize %>
  </div>

  <div class="field">
    <%= f.label :start_date %><br />
    <%= f.date_select :start_date %>
  </div>
  <div class="field">
    <%= f.label :end_date %><br />
    <%= f.date_select :end_date %>
  </div>

  <div class="field">
     <%= f.label :classroom_id %><br />
    <%= f.collection_select :classroom_id, Classroom.all, :id, :name %>
  </div>

  <div class="field">
    <%= f.label :end_date %><br />
    <%= f.date_select :end_date %>
  </div>

  <p>Instructor: </p>
  <p>
     <% User.where(role: 'Instructor').each do |instructor| %>
       <%= check_box_tag "course[instructor_ids][]", instructor.id, @course.instructors.include?(instructor), id: "user_instructor_ids_#{instructor.id}" %>
       <%= f.label :instructor_ids, instructor.name, for: "user_instructor_ids_#{instructor.id}" %>
       <br>
     <% end %>
  </p>

  <p>Teaching Assistant: </p>
  <p>

     <% User.where(role: 'Teaching Assistant').each do |teaching_assistant| %>
       <%= check_box_tag "course[teaching_assistant_ids][]", teaching_assistant.id, @course.teaching_assistants.include?(teaching_assistant), id: "user_teaching_assistant_ids_#{teaching_assistant.id}" %>
       <%= f.label :teaching_assistant_ids, teaching_assistant.name, for: "user_teaching_assistant_ids_#{teaching_assistant.id}" %>
       <br>
     <% end %>
  </p>

  <p>Student: </p>
  <p>

     <% User.where(role: 'Student').each do |student| %>
       <%= check_box_tag "course[student_ids][]", student.id, @course.students.include?(student), id: "user_student_ids_#{student.id}" %>
       <%= f.label :student_ids, student.name, for: "user_student_ids_#{student.id}" %>
       <br>
     <% end %>
  </p>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
