<h2>Listing courses</h2>

<%= search_form_for @q do |f| %>
    <p>
        <%= f.label :name_cont %>
        <%= f.text_field :name_cont %>
    </p>
    <p>
        <%= f.submit %>
    </p>
<% end %>

<table>
  <tr>
    <th>Name</th>
    <th>Classroom</th>
    <th>Maxsize</th>
    <th>Head Teacher</th>
    <th>Start date</th>
    <th>End date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @courses.each do |course| %>
  <tr>

    <td><%= link_to course.name, course  %></td>
    <td><%= course.classroom_id %></td>
    <td><%= course.maxsize %></td>
    <td><% course.instructors.each do |instructor|%>
        <%= instructor.name %>
        <% end %></td>
    <td><%= course.start_date %></td>
    <td><%= course.end_date %></td>
    <td><%=  %></td>
   
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Course', new_course_path %>
