<p id="notice"><%= notice %></p>
<h3>COURSE INFORMATION</h3>

<div class = "course_show">
  <p>
    <b>Name:</b>
    <%= @course.name %>
  </p>

  <p>
    <b>Maxsize:</b>
    <%= @course.maxsize %>
  </p>


  <p>
    <b>Start date:</b>
    <%= @course.start_date.strftime("%d %b %Y") %>
  </p>

  <p>
    <b>End date:</b>
    <%= @course.end_date.strftime("%d %b %Y") %>
  </p>

  <p>
    <b>Head Teacher:</b>
    <% @course.instructors.each do |instructors|%>
          <%= instructors.name %>
          <% end %>
  </p>
  <p>
    <b>Teaching Assitants:</b>
    <% @course.teaching_assistants.each do |teaching_assistants|%>
          <%= teaching_assistants.name %>
          <% end %>
  </p>


  <p>
    <b>Students:</b>
    <% @course.students.each do |students|%>
          <%= students.name %>
          <% end %>
  </p>

</div>


<%= link_to 'Edit', edit_course_path(@course) %> | 
<%= link_to 'Destroy', course_path, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', courses_path %>
