<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @course.name %>
</p>

<p>
  <b>Maxsize:</b>
  <%= @course.maxsize %>
</p>


<p>
  <b>Start date:</b>
  <%= @course.start_date %>
</p>

<p>
  <b>End date:</b>
  <%= @course.end_date %>
</p>

<p>
  <b>Students:</b>
  <% @course.instructors.each do |instructors|%>
        <%= instructors.name %>
        <% end %>
</p>




<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Back', courses_path %>
