<!DOCTYPE html>
<html>
<head>
  <title>ScheduleApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>GA Scheduler</h1>

<%= link_to "COURSES", courses_path %> 
<%= link_to "CLASSROOMS", classrooms_path %> 
<%= link_to "USERS", users_path %> 


<%= yield %>

</body>
</html>
